In [5]:
import pandas as pd
import requests 
import json

In [7]:
finnhub_api_key = 'cpg1ma1r01ql1vn3fk4gcpg1ma1r01ql1vn3fk50'
url=f'https://finnhub.io/api/v1/news?category=general&token={finnhub_api_key}'
response=requests.get(url)
if response.status_code==200:
    data=response.json()
    with open(r'C:\Users\Hi\Finlang\data\api\extracted_data.json','w') as f:
        json.dump(data,f,indent=4)
    print('Data saved successfully')
else:
    print(f'Fetching error .Please check code once..!!{response.status_code}')
    print(response.text)

Data saved successfully

In [24]:
with open (r'C:\Users\Hi\Finlang\data\api\extracted_data.json','r') as file:
    news_data=json.load(file)
    data=pd.DataFrame(news_data)
    print(data.head(2))
data.to_csv(r'C:\Users\Hi\Finlang\src\data\raw\news_data.csv')

   category    datetime                                           headline  \
0  top news  1744891020  Trump calls for Powell ‘termination’ in way th...
1  top news  1744890480  American Express says its customers are ‘eatin...

        id                                              image related  \
0  7473496  https://static2.finnhub.io/file/publicdatany/f...
1  7473497  https://static2.finnhub.io/file/publicdatany/f...

        source                                            summary  \
0  MarketWatch  Analysts at Evercore led by Krishna Guha said ...
1  MarketWatch  Amex’s CEO said that recent metrics are “in ma...

                                                 url
0  https://www.marketwatch.com/story/trump-calls-...
1  https://www.marketwatch.com/story/american-exp...

In [10]:
data.describe()

           datetime            id
count  1.000000e+02  1.000000e+02
mean   1.744779e+09  7.473028e+06
std    4.884564e+04  2.224902e+02
min    1.744707e+09  7.472688e+06
25%    1.744736e+09  7.472844e+06
50%    1.744794e+09  7.473037e+06
75%    1.744819e+09  7.473220e+06
max    1.744882e+09  7.473444e+06

In [22]:
data.info

<bound method DataFrame.info of     category    datetime                                           headline  \
0   top news  1744882500  Jensen Huang is visiting China. The Nvidia CEO...
1   top news  1744881480  My husband will inherit $180K. I think we shou...
2   top news  1744880640  Sprawling upstate-N.Y. horse farm offers refug...
3   top news  1744875240  Taiwan Semiconductor says tariffs haven’t chan...
4   top news  1744862460  Is the stock market open on Good Friday? Does ...
..       ...         ...                                                ...
95  top news  1744711260  ‘I ended up getting very sick’: I’m divorcing ...
96  business  1744711201  American Airlines to make Wi-Fi free on most o...
97  top news  1744710540  Chinese official calls Americans peasants afte...
98  top news  1744707780  The multi-million dollar homes of Hailee Stein...
99  top news  1744707480  John Goodman lowers the price of historic New ...

         id                                              image related  \
0   7473444  https://static2.finnhub.io/file/publicdatany/f...
1   7473442  https://static2.finnhub.io/file/publicdatany/f...
2   7473441  https://static2.finnhub.io/file/publicdatany/f...
3   7473421  https://static2.finnhub.io/file/publicdatany/f...
4   7473389  https://static2.finnhub.io/file/publicdatany/f...
..      ...                                                ...     ...
95  7472702  https://static2.finnhub.io/file/publicdatany/f...
96  7472703  https://image.cnbcfm.com/api/v1/image/10805307...
97  7472699  https://static2.finnhub.io/file/publicdatany/f...
98  7472688  https://static2.finnhub.io/file/publicdatany/f...
99  7472689  https://static2.finnhub.io/file/publicdatany/f...

         source                                            summary  \
0   MarketWatch  Nvidia CEO Jensen Huang visited China on Thurs...
1   MarketWatch  “He has $15,000 in investments and $5,500 per ...
2   MarketWatch  Lively appears to be avoiding the spotlight as...
3   MarketWatch  Taiwan Semiconductor Manufacturing Co., the co...
4   MarketWatch  Bond markets will close early on Thursday. Her...
..          ...                                                ...
95  MarketWatch  “I want to focus on the monetary aspect, becau...
96         CNBC  American Airlines is following other airlines ...
97  MarketWatch  China last week condemned Vice President J.D. ...
98  MarketWatch  Actress Hailee Steinfeld and Bills quarterback...
99  MarketWatch  The home has served as a primary residence for...

                                                  url
0   https://www.marketwatch.com/story/jensen-huang...
1   https://www.marketwatch.com/story/my-husband-w...
2   https://www.marketwatch.com/story/sprawling-up...
3   https://www.marketwatch.com/story/taiwan-semic...
4   https://www.marketwatch.com/story/is-the-stock...
..                                                ...
95  https://www.marketwatch.com/story/i-ended-up-g...
96  https://www.cnbc.com/2025/04/15/american-airli...
97  https://www.marketwatch.com/story/chinese-offi...
98  https://www.marketwatch.com/story/the-multi-mi...
99  https://www.marketwatch.com/story/john-goodman...

[100 rows x 9 columns]>

In [12]:
data.dtypes

category    object
datetime     int64
headline    object
id           int64
image       object
related     object
source      object
summary     object
url         object
dtype: object

In [13]:
data.columns

Index(['category', 'datetime', 'headline', 'id', 'image', 'related', 'source',
       'summary', 'url'],
      dtype='object')

In [20]:
data['summary']

0     Nvidia CEO Jensen Huang visited China on Thurs...
1     “He has $15,000 in investments and $5,500 per ...
2     Lively appears to be avoiding the spotlight as...
3     Taiwan Semiconductor Manufacturing Co., the co...
4     Bond markets will close early on Thursday. Her...
                            ...
95    “I want to focus on the monetary aspect, becau...
96    American Airlines is following other airlines ...
97    China last week condemned Vice President J.D. ...
98    Actress Hailee Steinfeld and Bills quarterback...
99    The home has served as a primary residence for...
Name: summary, Length: 100, dtype: object

In [5]:
import pandas as pd

data=pd.read_csv(r'C:\Users\Hi\Finlang\data\kaggle\Cryptocurrency Prices Dataset.csv')
print(data.head(5))

       Name Symbol     Price Usd     Volume24h     Volume30d     MarketCap  \
0   Bitcoin    BTC  24620.849470  3.745915e+10  4.822270e+11  4.749990e+11
1  Ethereum    ETH   1688.699934  1.243162e+10  1.504000e+11  2.066530e+11
2    Tether   USDT      1.000223  5.244734e+10  6.491090e+11  6.980130e+10
3       BNB    BNB    321.785343  9.556956e+08  1.056193e+10  5.080931e+10
4  USD Coin   USDC      1.000039  5.046872e+09  7.770599e+10  4.151303e+10

   Dominance  YtdPriceChangePercentage  cmcRank  marketPairCount  \
0    42.6334                   48.0946        1             9982
1    18.5435                   40.6119        2             6463
2     6.2660                    0.0531        3            47649
3     4.5601                   31.8052        4             1190
4     3.7254                    0.0046        5            10109

   circulatingSupply   totalSupply
0       1.929256e+07  1.929256e+07
1       1.223739e+08  1.223739e+08
2       6.978573e+10  7.314177e+10
3       1.578982e+08  1.599800e+08
4       4.151139e+10  4.151139e+10

In [6]:
import pandas as pd

data=pd.read_csv(r'C:\Users\Hi\Finlang\data\kaggle\Employee_Earnings_Report_2016.csv')
print(data.head(5))

                      NAME  Unnamed: 1           DEPARTMENT_NAME  \
0           Abadi,Kidani A         NaN      Assessing Department
1         Abasciano,Joseph         NaN  Boston Police Department
2   Abban,Christopher John         NaN    Boston Fire Department
3            Abbasi,Sophia         NaN             Green Academy
4  Abbate-Vaughn,Jorgelina         NaN      BPS Ellis Elementary

                  TITLE      REGULAR RETRO      OTHER    OVERTIME     INJURED  \
0      Property Officer   $46,291.98   NaN    $300.00         NaN         NaN
1        Police Officer    $6,933.66   NaN    $850.00     $205.92  $74,331.86
2          Fire Fighter  $103,442.22   NaN    $550.00  $15,884.53         NaN
3  Manager (C) (non-ac)   $18,249.83   NaN        NaN         NaN         NaN
4               Teacher   $84,410.28   NaN  $1,250.00         NaN         NaN

      DETAIL QUINN/EDUCATION INCENTIVE TOTAL EARNINGS POSTAL Gender
0        NaN                       NaN     $46,591.98   2118      M
1        NaN                $15,258.44     $97,579.88   2132      M
2  $4,746.50                       NaN    $124,623.25   2132      M
3        NaN                       NaN     $18,249.83   2148      M
4        NaN                       NaN     $85,660.28   2481      M